.boats {
    padding: 20px;
}
#refineSearch {
    position: relative;
    padding-top: 1em;
    /* height: calc(100vh - 70px) !important; */
    /* margin-right: 10px;
    width: 30%; */
    /* width: 200px; */
    /* padding: 20px; */
    position: fixed !important;
    display: block;
    right: 0;
    top: 70px !important;
    margin: 0px auto;
    background: black;
  }

#dateSelect, #partySize, #selectActivity {
    float: right;
    margin-right: 15px;
    width: 255px;

}