/* #dateSelect {
    width: 30%;
    float: left;
    height: 30px;
}

#partySize {
    width: 30%;
    float: left;
    height: 30px;
}

#selectActivity {
    width: 30%;
    height: 30px;
} */

/* .button {
    background: url(../../assets/images/whitesearchicon.png);
} */