#carousel { 
    position: relative;
    max-width: 100%;
}
    /* width: 900px; 
    height: 500px;
     margin: auto;  */
    /* display: flex; */
    /* height: 10vh; */
    /* min-height: 300px;
    /* max-height: 400px; */
    /* overflow: hidden; */
    /* background-position: center; */

/* @media (max-width: 900px) {
    .carousel {
        width: auto;
        height: auto;
    }
} */
.carouselItem {
    height: 500px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
}

p {
    font-family: 'Roboto:300', sans-serif;
    font-size: 1em;
}

/* .input {
    min-width: 100px;
} */
.CarImg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* height: auto;
    width: 100%; */
    /* background-position: center; */
    overflow: hidden;
    /* position: relative;
    max-width: 100%; */
}
.carousel-control {
    display: none;
}

#dateSelect, #partySize, #activity, option {
    max-width: 200px;
    display: inline;
}



.circle {
    height: 90px;
    width: 90px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -65px;
    justify-content: center;
    /* margin: 0 auto; */
  /* padding: 0 auto; */
    z-index: 2;
   
  
}


#shared {
    background-color: #64b7d1;
    color: white;
    float: left;
    width: 50%;
    text-align: center;
    padding: 10px;
    border: 0px;
    margin: 0 auto;
    margin-top: 0px;
    height: 150px;

    /* border-top: 5px solid #84d4e7; */
  }

#header {
    position: relative;
    bottom: 50px;
 }
  
  #private {
    background-color: #64b7d1;
    color: white;
    float: right;
    width: 50%;
    text-align: center;
    padding: 10px;
    border: 0px;
    height: 150px;
    /* border-top: 5px solid #64b7d1; */
  }
  

.form-group {
    /* margin-bottom: 0px;
    margin-top: 0px; */
    /* margin: 0 auto; */
    /* padding: auto 0px; */
}

.input {
    display: inline;
    
 
}

.caption {
     position: absolute;
     right: 15%;
     left: 15;
     bottom: 150px;
   
}

form {
    margin: 0 auto !important; 
    text-align: center;
    /* justify-content: center; */
    padding: 15px;
   
}

#searchForm {
    /* margin: 0 auto;  */
   
    background-color: #64b7d1;
    /* width: 100%; */
    border: 0px;

}
    /* float: left; */
    /* padding: 0 200px 10px 200px; */
    /* display: block;
    margin: 10px auto; 

}

#date, #partySize, #activity {
   float: left;
   background-color: #64b7d1;
   color: white;
   border: 0px;

   text-align: center;
   width: 150px;
   padding: 5px;
}

#formRow {
    background-color: #64b7d1;
    margin: 0 auto;
    /* width: 100%; */



.container {
    padding: 0px;
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        padding: 0px;
    }
 
}

@media (min-width: 992px) {
    .container {
    width: 100%;
    }
}
@media (max-width: 900px) {
    .carousel {
    width: auto;
    height: auto;
    }
}

/* .main {
    width: 100%;
    padding: 0px;
    margin: 0;
}

#row {
    width: 100%;
} */
/* 
#main-carousel {
    width: 100%;
    padding: 0px;
} */



#searchBttn {
    display: inline;
    background: none;
    color: white;
    border: 0px;
}
/* @media screen and (max-width: 360px) {
    #dateSelect,
    #partySize,
    #selectActivity {

    
    /* vertical-align: middle; */

/* @media screen and (max-width: 760px) {
    /* #detailsImg {
        width: 760px;
        overflow: hidden;
    } */

    /* #dateSelect, #partySize, #selectActivity {
    } */
    /* display: inline-block;

    
/* @media screen and (min-width: 760px) {
    #dateSelect {
    width: 30%;
    float: left;
    height: 30px; 
}

#partySize {
 width: 30%;
    float: left;
    height: 30px; 
}

#selectActivity {
    width: 30%;
    height: 30px; 
} 
} */
/* 
@media screen and (max-width: 360px) { */
    /* .carouselItem {
       
    } */
    /* #carousel {
        height: 200px;
    } */
    /* #detailsImg {
        width: auto;
        height: 300px;
        overflow: hidden;
    }

    #searchForm {
        background-color: #64b7d1; */
        /* width: 100%; */
        /* border: 0px; */
        /* float: left; */
        /* padding: 0px;
        display: block;
        margin: 0 auto;

    
    }
    .caption {
        margin: 0;
        position: absolute;
     
    } */
    /* h1 {
        font-size: 28px;
    } */
    /* .CarImg {
        max-height: 300px;
        overflow: hidden;
    }
    p {
        font-size: 14px; 
    }
    #dateSelect, #partySize, #selectActivity { */
        /* float: left; */
        /* height: 28px;
        width: 300px;
        font-size: 14px;
        border: 1px solid white;
    }

    #searchForm {  */
        /* background: white; */
        /* padding: 0px;
        text-align: center;

    } */
    /* .carousel-inner {
        height: 400px;
    } */
   
